

/*  Colours 3E362E
865D36
93785B
AC8968
A69080 */

main{
  background-image: linear-gradient(#d8af83,#492f17) ;
  h1{
    font-family:fantasy
  }
  p{font-family: serif}

  .Images{
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

    .frontPageNav{
      display: flex;
  flex-direction: row;
  /* justify-content: space-between; */

      .frontPageNav{
        margin-left: 0px;
      }
      .frontPageImage{
        text-align: centre;
      }
      /*
      margin-left: auto;
      width:20%;
      position: fixed;
      left: 0px; */
    }
  }

