name: Build and Publish Docker Image
 
on:
  push:
    branches:
      - main
 
jobs:
  build-api:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
 
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: tizzer1331
          password: ${{ secrets.GHCR_PAT }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./Full-Stack-API-build
          platforms: linux/amd64
          file: Dockerfile
          push: true
          tags: ghcr.io/tizzer1331/lotrapifrontend:lates
      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: ./newAPI/.
      #     platforms: linux/amd64,linux/arm64
      #     file: newAPI/Dockerfile
      #     push: true
      #     tags: ghcr.io/nmcc1212/social-api:v1, ghcr.io/nmcc1212/social-api:latest
      #     cache-from: type=gha
      #     cache-to: type=gha
 
